<h1> <%=@post.title%> </h1>

<p> <%=@post.body%> </p>

<h2> Comments </h2>

<ol>
    <% @post.comments.each do |comment| %>
        <li>
            <%= comment.body%>
        </li>
    <%end%>
</ol>

<p> <%= link_to @post.activity.name, activity_path(@post.activity.id) %>