// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    font-family: impact;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: #EDF5E1
}


.borders {
    text-align: center;
    font-family: palatino;
    border: 3px solid #EDF5E1;
    margin-left: 555px;
    margin-right: 555px;
    padding: 20px;
    border-radius: 6px;
    background-color: #05386B;
    color: #EDF5E1
}

.button {
    font-family: impact;
}

body {
    background-attachment: fixed;  
    background-size: cover;
    background: #5CDB95;
    // background: rgb(56,55,55);
    // background: linear-gradient(270deg, rgba(56,55,55,1) 0%, rgba(94,94,98,1) 46%, rgba(176,176,176,1) 100%);    
}

.push{
    position: relative;
    left: 17px;
}

.pixel {
    position: relative;
    left: 2px;
}

.t1 {
    font-family: palatino;
    text-decoration: underline;
    font-size: 50px;
    color: #05386B;
}

.list {
    font-size: 25px;
    font-family: palatino;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.red {
    color: maroon;
    text-align: center;
    font-family: palatino;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    left: -15px;
}

.description {
    font-family: palatino;
    font-size: 18px;
}

.saying {
    font-family: palatino;
    font-size: 25px;
}

.post {
    font-family: palatino;
    font-size: 20px;
    color: #05386B;
    border: 3px solid #05386B;
    padding: 20px;
    border-radius: 6px;
    background-color: #EDF5E1;
}

.main {
    color: #05386B;
    border: 3px solid #05386B;
    padding: 20px;
    border-radius: 6px;
    background-color: #EDF5E1;
}

.title {
    font-family: palatino;
    font-size: 35px;
    font-weight: bold
}

.sub {
    font-family: palatino;
    font-size: 20px;
}

.comment {
    font-family: palatino;
    font-size: 25px;
}