// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    font-family: impact;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}

// .central {
//     text-align: center;
//     font-family: impact;
// }

.borders {
    text-align: center;
    font-family: palatino;
    border: 3px groove black;
    margin-left: 555px;
    margin-right: 555px;
    padding: 20px;
    border-radius: 6px
}

.button {
    font-family: impact;
}

body {
    background-attachment: fixed;  
    // background-image: linear-gradient( #64b3f4, #c2e59c);
    background-size: cover;
    // background-color: #4158D0;
    // background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background: rgb(56,55,55);
    background: linear-gradient(270deg, rgba(56,55,55,1) 0%, rgba(94,94,98,1) 46%, rgba(176,176,176,1) 100%);    
}

.push{
    position: relative;
    left: 17px;
}

.pixel {
    position: relative;
    left: 2px;
}

.t1 {
    font-family: palatino;
    text-decoration: underline;
    font-size: 50px;
}

.list {
    font-size: 25px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

