<h1> <%=@activity.name%> </h1>

<h2> What is <%=@activity.name%>? </h2>
<p> <%= @activity.description%> </p>

<h3> What people are saying: </h3>

<ol>
    <% @activity.posts.each do |post| %>
    <li>
        <%= link_to post.title, post_path(post.id) %>
    </li>
        <%end%>
</ol>